<section class="min-h-screen flex items-center justify-center p-6">
  <div
    class="relative w-full min-h-[600px] max-w-6xl bg-formBg dark:bg-formBg-dark rounded-2xl shadow-2xl overflow-hidden grid md:grid-cols-2"
  >
    <!-- Left Side (Image) -->
    <div class="relative hidden md:block">
      <img
        src="/assets/images/forgetPassword.png"
        class="absolute inset-0 w-full h-full object-cover"
        alt="Forget password"
      />

      <!-- Overlay -->
      <div
        class="absolute inset-0 bg-linear-to-t from-formBg-dark/90 via-formBg-dark/60 to-transparent"
      ></div>

      <!-- Text -->
      <div class="absolute bottom-10 left-10 text-white max-w-sm">
        <h2 class="text-3xl font-semibold leading-snug">Reset Your Password</h2>
        <p class="text-gray-300 mt-3 text-sm">
          Enter your email address and we’ll send you a secure reset link.
        </p>
      </div>
    </div>

    <!-- Right Side (Form) -->
    <div class="p-10 md:p-14 text-mainText dark:text-white flex flex-col justify-center">
      <div class="mb-8">
        <h1 class="text-3xl font-semibold mb-2">Forgot Password?</h1>
        <p class="text-gray-400 text-sm">Don’t worry, we’ll help you recover your account.</p>
      </div>

      <form class="space-y-6">
        <!-- Email Input -->
        <div>
          <label class="block text-sm mb-2 text-gray-500"> Email Address </label>
          <input
            type="email"
            placeholder="Enter your email"
            class="text-black dark:text-white block px-3 pb-3 pt-4 appearance-none peer w-full bg-borderColor dark:bg-borderColor-dark rounded-lg focus:outline-none focus:ring-2 focus:ring-mainText dark:focus:ring-mainText-dark placeholder:text-gray-500"
          />
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="cursor-pointer text-white w-full bg-mainText dark:bg-mainText-dark py-3 rounded-lg hover:bg-hoverBtnColor dark:hover:bg-hoverColor-dark transition-all duration-300 shadow-lg hover:shadow-xl"
        >
          Send Verification Code
        </button>

        <!-- Divider -->
        <div class="flex items-center gap-3">
          <div class="flex-1 h-px bg-[var(--color-borderColor)]"></div>
          <span class="text-gray-400 text-sm">OR</span>
          <div class="flex-1 h-px bg-[var(--color-borderColor)]"></div>
        </div>

        <!-- Back to Login -->
        <p class="text-center text-sm text-gray-400">
          Remember your password?
          <a routerLink="/login" class="text-[var(--color-mainText)] hover:underline">
            Back to Login
          </a>
        </p>
      </form>
    </div>
  </div>
</section>
